<launch>

  <arg name="ID" default="0"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find sjtu_drone)/urdf/sjtu_drone.urdf.xacro' ID:=$(arg ID)"/>
  <!-- <param name="robot_description" command="cat '$(find sjtu_drone)/urdf/sjtu_drone.urdf.xacro'" /> -->
  <!-- send robot urdf to param server
  <param name="robot_description" command="cat '$(find sjtu_drone)/urdf/sjtu_drone.urdf'" /> -->

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model_$(arg ID)" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sjtu_drone_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z)" 
  respawn="false" output="screen">
    <!-- <param name="robotNamespace" value="uav_$(arg ID)"/> -->
  </node>

    
</launch>
